<div class="jumbotron text-center" ng-if="existing == false">
	<button type="button" class="btn btn-primary" ng-click="newGame()">New Game</button>
	<button type="button" class="btn btn-success" ng-click="existingGame()">Existing Game</button>
</div>

<div ng-if="existing == true">
	 <div class="col-sm-10">          
        <input type="text" class="form-control" id="pwd" placeholder="EnterUrl" name="pwd" ng-model="gameUrl">
      </div>
      <button type="button" class="btn btn-success" ng-click="redirectGame(gameUrl)">Play</button>
</div>
